<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">


    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HeroPage</servlet-name>
        <jsp-file>/WEB-INF/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>HeroPage</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>loginPage</servlet-name>
        <jsp-file>/WEB-INF/login.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginPage</servlet-name>
        <url-pattern>/login-page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bookPage</servlet-name>
        <jsp-file>/WEB-INF/books.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>bookPage</servlet-name>
        <url-pattern>/book-page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>homePage</servlet-name>
        <jsp-file>/WEB-INF/home.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>homePage</servlet-name>
        <url-pattern>/home-page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updatePage</servlet-name>
        <jsp-file>/WEB-INF/updateBook.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>updatePage</servlet-name>
        <url-pattern>/update-page</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>editPage</servlet-name>
        <jsp-file>/WEB-INF/editBook.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>editPage</servlet-name>
        <url-pattern>/edit-book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteBook</servlet-name>
        <jsp-file>/WEB-INF/deleteBook.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteBook</servlet-name>
        <url-pattern>/delete-book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addBook</servlet-name>
        <jsp-file>/WEB-INF/addBook.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>addBook</servlet-name>
        <url-pattern>/add-book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <jsp-file>/WEB-INF/logout.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

</web-app>